In [1]:
import pandas as pd

In [5]:
# load the data into a Pandas dataframe
path = "C:\\Users\Administrateur\\Data-Analysis-with-Python-Projects\\DataAnalysis\\Global Emissions\\Methane_final.csv"
df = pd.read_csv(path)
df

,Unnamed: 0,region,country,emissions,type,segment,reason,baseYear,notes
0,0,Africa,Algeria,257.611206,Agriculture,Total,All,2019-2021,Average based on United Nations Framework Conv...
1,1,Africa,Algeria,0.052000,Energy,Bioenergy,All,2022,Estimates from end-uses are for 2020 or 2021 (...
2,2,Africa,Algeria,130.798996,Energy,Gas pipelines and LNG facilities,Fugitive,2022,Not available
3,3,Africa,Algeria,69.741898,Energy,Gas pipelines and LNG facilities,Vented,2022,Not available
4,4,Africa,Algeria,213.987000,Energy,Onshore gas,Fugitive,2022,Not available
...,...,...,...,...,...,...,...,...,...
1543,1543,World,World,3102.500000,Energy,Satellite-detected large oil and gas emissions,All,2022,Not available
1544,1544,World,World,30296.500000,Energy,Steam coal,All,2022,Not available
1545,1545,World,World,133350.984375,Energy,Total,All,2022,Estimates from end-uses are for 2020 or 2021 (...
1546,1546,World,World,9737.874023,Other,Total,All,2019-2021,Average based on United Nations Framework Conv...
1547,1547,World,World,70758.710938,Waste,Total,All,2019-2021,Average based on United Nations Framework Conv...

In [20]:
df["country"].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Cameroon',
       'Central African Republic', 'Chad', 'Congo', "Cote d'Ivoire",
       'Democratic Republic of Congo', 'Egypt', 'Equatorial Guinea',
       'Eritrea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea',
       'Guinea-Bissau', 'Kenya', 'Liberia', 'Libya', 'Morocco',
       'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Senegal',
       'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa',
       'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Australia',
       'Bangladesh', 'Brunei', 'China', 'India', 'Indonesia', 'Japan',
       'Korea', 'Malaysia', 'Mongolia', 'New Zealand',
       'Other countries in Southeast Asia', 'Pakistan', 'Philippines',
       'Thailand', 'Vietnam', 'Argentina', 'Bolivia', 'Brazil',
       'Colombia', 'Cuba', 'Ecuador', 'Guyana', 'Paraguay', 'Peru',
       'Trinidad and Tobago', 'Uruguay', 'Venezuela', 'Denmark',
       'Estonia', 'European Union', 'France', 'Germany', 'Israel',
       'Italy', 'Netherlands', 'Norway', 'Other countries in Europe',
       'Other EU17 countries', 'Other EU7 countries', 'Poland', 'Romania',
       'Slovenia', 'Sweden', 'Ukraine', 'United Kingdom', 'Bahrain',
       'Iran', 'Iraq', 'Jordan', 'Kuwait', 'Lebanon', 'Oman', 'Qatar',
       'Saudi Arabia', 'Syria', 'United Arab Emirates', 'Yemen', 'Canada',
       'Mexico', 'United States', 'Other', 'Azerbaijan', 'Kazakhstan',
       'Russia', 'Turkmenistan', 'Uzbekistan', 'World'], dtype=object)

In [38]:
# Which country has the highest methane emissions overall?
max_emission = df["emissions"].max()
max_emission_by_country = df.loc[df["emissions"] == max_emission, "country"].values[0]
print("the country which has the highest methane emissions overall is", max_emission_by_country)

the country which has the highest methane emissions overall is China

In [39]:
df

,Unnamed: 0,region,country,emissions,type,segment,reason,baseYear,notes
0,0,Africa,Algeria,257.611206,Agriculture,Total,All,2019-2021,Average based on United Nations Framework Conv...
1,1,Africa,Algeria,0.052000,Energy,Bioenergy,All,2022,Estimates from end-uses are for 2020 or 2021 (...
2,2,Africa,Algeria,130.798996,Energy,Gas pipelines and LNG facilities,Fugitive,2022,Not available
3,3,Africa,Algeria,69.741898,Energy,Gas pipelines and LNG facilities,Vented,2022,Not available
4,4,Africa,Algeria,213.987000,Energy,Onshore gas,Fugitive,2022,Not available
...,...,...,...,...,...,...,...,...,...
1521,1521,Russia & Caspian,Uzbekistan,16.973917,Energy,Other from oil and gas,All,2022,Estimates from end-uses are for 2020 or 2021 (...
1522,1522,Russia & Caspian,Uzbekistan,18.299999,Energy,Satellite-detected large oil and gas emissions,All,2022,Not available
1523,1523,Russia & Caspian,Uzbekistan,780.916138,Energy,Total,All,2022,Estimates from end-uses are for 2020 or 2021 (...
1524,1524,Russia & Caspian,Uzbekistan,3.845616,Other,Total,All,2019-2021,Average based on United Nations Framework Conv...
1525,1525,Russia & Caspian,Uzbekistan,280.418243,Waste,Total,All,2019-2021,Average based on United Nations Framework Conv...

In [62]:
# Which type is responsible for the majority of methane emissions?
max_emission = df["emissions"].max()
sector_majority_emissions = df.loc[df["emissions"] == max_emission, "type"].values[0]
print("the type which is responsible for the majority of methane emissions is: ",sector_majority_emissions)

the type which is responsible for the majority of methane emissions is:  478    Energy
Name: type, dtype: object

In [61]:
# What is the total methane emissions for each country in the dataset?
total_emi_by_country = df.groupby("country").sum().drop('Unnamed: 0', axis=1)
total_emi_by_country

              emissions
country
Algeria     6113.441756
Angola      1771.640266
Argentina   6558.256740
Australia   7775.794053
Azerbaijan   946.942928
...                 ...
Uruguay      908.923504
Uzbekistan  2747.778754
Venezuela   6691.244875
Vietnam     3133.670373
Yemen        633.684177

[104 rows x 1 columns]

In [65]:
# What is the average methane emissions for each type in the dataset?
average_emi_by_type = df.groupby("type").mean().drop('Unnamed: 0', axis=1)
average_emi_by_type

             Unnamed: 0    emissions
type
Agriculture  683.451923  1450.049069
Energy       780.558484   222.977220
Other        696.125000    96.430508
Waste        697.125000   721.920260

In [69]:
# What is the maximum methane emissions for each country in the dataset?
max = df.groupby("country").max()
max[["emissions"]]

              emissions
country
Algeria     2669.194580
Angola       568.733337
Argentina   3152.932617
Australia   2450.463135
Azerbaijan   323.254974
...                 ...
Uruguay      751.945923
Uzbekistan   901.682617
Venezuela   2642.703613
Vietnam     2193.262695
Yemen        181.292984

[104 rows x 1 columns]

In [70]:
# What is the minimum methane emissions for each country in the dataset?
min = df.groupby("country").min()
min[["emissions"]]

            emissions
country
Algeria      0.004000
Angola       0.955903
Argentina    0.060000
Australia    1.188140
Azerbaijan   0.315974
...               ...
Uruguay      0.038957
Uzbekistan   0.012000
Venezuela    0.020000
Vietnam      9.996000
Yemen        0.028000

[104 rows x 1 columns]

In [83]:
# What is the percentage contribution of each type to the total methane emissions?
total_emission= df["emissions"].sum()
emission_by_sector = df.groupby("type").sum().drop('Unnamed: 0', axis=1)
contribution = (total_emission/emission_by_sector) * 100
contribution

               emissions
type
Agriculture   335.935534
Energy        187.151279
Other        5051.544542
Waste         674.760129